body {
    font-family: sans-serif;
}
h1 {
    margin-left: 230px;
    margin-top: ;
}
h2 {
    margin-left: 200px;
}
header {
    width: 100%;
    height: 175px;
    background-image: linear-gradient(to right ,#1D2D6F,#20729E,#7BB3BD);
}
img{
    margin-left: 45px;
    
    position: absolute;
    top: 50px;
}
.nav1 {
    position: absolute;
    top: 130px;
    margin-left: 125px;
}
.nav2 {
    position: absolute;
    top: 130px;
    margin-left: 325px;
}
.nav3 {
    position: absolute;
    top: 130px;
    margin-left: 525px;
}
body {
    width: 100%;
    background-color: #EFFAFD ;
}
footer{
    background-color:  #A0006D;
}
.g{
    margin-left: 1%;
}
p1{
    color: #1D2D6F;
    margin-left: 30%;
    font-size: 30px;
}
p{
    margin-left: 15%;
}
section{
    position: absolute;
    top: 280px;
    width: 80px;
    height: 300px;
    border-radius: 20px;
    border: palevioletred solid 7px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    left: -2px;
}

section img{
    left:-47px;
    top: 9px;
    

}
.g{
    left:-19px;
    top:105px ;
}
.t{
    left: -75px;
    top: 196px;
}
